# Server
PORT=4000
NODE_ENV=development

# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/upload_service?schema=public"

# AWS S3
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
S3_BUCKET_NAME=your-bucket-name

# Upload Config
MAX_FILE_SIZE_MB=5
PRESIGNED_URL_EXPIRY_SECONDS=300
